body
{
    background-image: url("sonatel.png");
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn {
    background-color: #ca692c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1465c7;
}
legend{
    text-align: center;
}

.profil-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    
    
    .profil-photo:hover {
        border-color: #1877f2; /* Changement de couleur de bordure au survol */
    }
    
}


